.user-card{
    display: block;
  
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
    border-radius: 10% 5%;
}
.user-card img{
    width: 200px;
    height: 200px;
    align-items: center;
}

#logo{
    width: 200px;
    height: 100px;
}



.rented-movie img{
    display: block;
    width: 300px;
    height:300px;
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
    border-radius: 10% 5%;
}

.not-rented-movie img{
    display: block;
    width: 300px;
    height:300px;
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
    border-radius: 10% 5%;
}

.movies-container{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
    
}

.catalg-movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.rented-movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.movie-detail img { 
    display: block;
    width: 300px;
    height:300px;
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
    border-radius: 10% 10%;
}
.movie-detail{
    align-content: center;
    display: blocks;
 
}

.users-cards-container{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color: black;
   justify-content: center;
   align-items: center;
   height: 100vh; /* set the height to fill the viewport */
   color: aliceblue;
}
body{
    background-color: black;
}

.catalog-container h2{
    margin: 20px;
    color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catalog-container h3{
    color: bisque;
    margin: 20px;

}

#search-input{
    width: 1000px;
    height: 50px;
    margin: 10px;
}

.user-name{
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.rented-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to fill the viewport */
    color: aliceblue;
}

.catalog-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to fill the viewport */
    color: aliceblue;
}

#movie-title{
    color: aliceblue;
    font-size: larger;
}

.movie-detail{
    color: aliceblue;
    font-size:x-large;
    justify-content: center;
    align-items: center;

}

#home{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.catalog{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-left: 800px;
    margin-bottom: 20px;
    
}